<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title || "Defund OPD" %></title>
  <meta name="description" content="">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="apple-touch-icon" href="icon.png">
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <%= partial 'header' %>
  <main>
    <%= yield %>
  </main>
  <%= javascript_include_tag "application" %>
  <%= partial 'footer' %>
</body>
</html>
